body::after { content: ''; background: url('../../assets/gandalf_vs_balrog.jpg'); opacity: 0.4; top: -166px; bottom: 0; left: 0; right: 0; position: absolute; z-index: -1; background-size: 1680px; background-repeat: no-repeat; }

    #root { margin: 40px; }

        #main { display: flex; align-items: flex-start; }
        
            #appSide { width: 60%; }

            #encounterStaging {background-color: rgba(255, 255, 255, 0.5); font-family: 'Cinzel', serif; padding: 30px;  }

                #encounterStaging__border { border-style: double; border-width: 7px; border-color: rgb(185, 48, 50); padding: 20px; }
            
                    #encounterStaging__header { font-size: 20px; color: rgb(185, 48, 50); padding: 0 10px; }
            
                    .encounterStaging__helper { margin-bottom: 20px; }

            #characterList { background-color: rgba(255, 255, 255, 0.5); font-family: 'Cinzel', serif; padding: 30px; width: 40%; float: right; }

                #characterList__border { border-style: double; border-width: 7px; border-color: rgb(185, 48, 50); padding: 20px; }

                    #characterList__header { font-size: 20px; color: rgb(185, 48, 50); padding: 0 10px; }

                    #characterList__helper { margin-bottom: 20px; }

    h1 { font-family: 'Germania One', cursive; color: red; font-size: 45px; }

    button { font-family: 'Cinzel', serif; border-radius: 2px; padding: 4px 8px; font-size: 16px; margin: 20px 20px 0 0; }

.hide { display: none; }