@import '../../../styles/variables.scss';

.characterForm {
  background-color: $greyBackground;
  font-family: $cinzel;
  padding: 30px;
  width: 50%;
  fieldset {
    border-style: double;
    border-width: 7px;
    border-color: $headerRed;
    padding: 20px;
    legend {
      font-size: 20px;
      color: $headerRed;
      padding: 0 10px;
    }
    .dataRow {
      margin-bottom: 4px;
      position: relative;
      label {
        display: inline-block;
        width: 30%;
        text-align: right;
        margin-right: 8px;
      }
      input {
        padding: 6px;
        width: 60%;
      }
    }
    .hitDice {
      position: relative;
      display: flex;
      margin-top: 10px;
      align-items: center;
      justify-content: flex-end;
      padding-right: 24px;
      input {
        margin-left: 10px;
      }
      .tooltip {
        top: -38px;
        left: 30px;
      }
    }
    .dataRow, .hitDice {
      &:hover .tooltip {
        visibility: visible;
      }
    }
  }
  .btnsWrapper {
    margin-top: 20px;
  }
}