@import '../../../styles/variables.scss';

.saveModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: $cinzel;
  .saveModal__content {
    margin: 200px auto 0;
    width: 450px;
    background-color: $greyBackground;
    padding: 30px;
    fieldset {
      border: double 7px $headerRed;
      padding: 20px;
      legend {
        font-size: 28px;
        color: $headerRed;
        padding: 0 10px;
      }
    }
    .saveModal__form {
      label, input {
        display: inline-block;
      }
      label {
        margin-right: 10px;
        width: 29%;
      }
      input {
        width: 64%;
        padding: 6px;
      }
    }
    .btnsWrapper {
      margin-top: 20px;
    }
  }
}