@import '../../styles/variables.scss';

.characterForm {
  width: 50%;
}

.dataRow {
  margin-bottom: 4px;
  position: relative;
  display: flex;
  align-items: center;
  label {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 8px;
  }
  input {
    width: 60%;
  }
}

.hitDice {
  position: relative;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 24px;
  input {
    margin-left: 10px;
  }
  .tooltip {
    top: -38px;
    left: 30px;
  }
}

.dataRow, .hitDice {
  &:hover .tooltip {
    visibility: visible;
  }
}
